<% provide(:title, 'Create Owner') %>
<h1>New Owner</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@owner) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.number_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :contact_name %>
      <%= f.number_field :contact_name %>

      <%= f.label :contact_email %>
      <%= f.text_field :contact_email %>

      <%= f.submit "Create new Owner", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>