<% provide(:title, 'Bullet Points') %>

<%= render 'shared/admin_header', heading: @offer.heading, btn_txt: 'Show All', path: offers_path %>

<table class="table table-hover">
  <thead>
    <th>Sequence</th>
    <th>Text</th>
    <th class="tdMid">Edit</th>
    <th class="tdMid">Delete</th>
  </thead>
  <tbody>  
  	<%= render @bullet_points unless @bullet_points.nil? %>
  </tbody>	  	
</table>	

<div class="row">
  <div class="span6 offset1">
	<%= form_for(@bpoints) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

      <%= render 'fields', f: f %>

      <%= f.hidden_field :offer_id, :value => @offer.id  %>

	  </br></br>
	  
      <%= f.submit "Create new Feature", class: "btn btn-primary" %>
	<% end %>	
  </div>
</div>
