<div class="row">
  <div class="span6 offset1">
    <%= form_for(@locale) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
	  
		<%= f.label :locale_id %>
		<%= f.number_field :locale_id %>

		<%= f.label :description %>
		<%= f.text_field :description %>

	  </br></br>
			
      <%= f.submit btn_txt, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
