<% provide(:title, 'Create Locale') %>
<h1>New Locale</h1>
<div class="row">
  <div class="span6 offset3">
    <p><%= link_to "All Locales", locales_path %></p>
    <%= form_for(@locale) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= render 'fields', f: f %>

      <%= f.submit "Create new Locale", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>