<div class="row">
  <div class="span5 offset1">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
	  
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :uername %>
		<%= f.text_field :username %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>

  </div>
  <div class="span5 offset1">

		<label for="admin">Administrator?</label>
		<%= f.check_box :admin %>

		<%= f.label :address1 %>
		<%= f.text_field :address1 %>

		<%= f.label :city %>
		<%= f.text_field :city %>

		<%= f.label :state %>
		<%= f.text_field :state %>

		<%= f.label :zip %>
		<%= f.text_field :zip %>

		<%= f.label :country_id %>
		<%= f.collection_select(:country_id, @countries, :id, :country_name, {:prompt => true}) %>

		<%= f.label :phone %>
		<%= f.text_field :phone %>

		<%= f.label :url %>
		<%= f.text_field :url %>

	  </br></br>
			
      <%= f.submit btn_txt, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
