<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>  
  <td class="tdMid"><%= link_to '', edit_user_path(user) , class: "icon-edit" %></td>
  <td class="tdMid"><% if current_user.admin? && !current_user?(user) %> 
  	  <%= link_to '', user, method: :delete, confirm: "You sure?", class: "icon-remove" %>
  <% end %></td>
</tr>