<div class="container">
  <div class="offerBlock">
    <div class="offerTop">
      <span>More Offers -</span>
      <%= link_to "See all", '#' %>
    </div>

    <% i = 0 %>
    <% @offers.each do |offers| %>
        <% i += 1 %>
        <%pic = "offer" + (i).to_s + ".jpg" %>
	  	<div class="offerContainer">
	  	  <div class="offerPic">
            <%= link_to image_tag(pic, alt: "Google Offers"), home_path(offers.id), class: "aCursor" %>	            
	  	  </div>
	  	  <div class="offerDetails">
	  	  	<div>
		  	  <span class="offerName"><%= offers.owner.name %></span>
		  	</div>
		  	<div>
		  	  <%= link_to offers.heading, home_path(offers.id), class: "aDetails" %>
		  	</div>
		  	<div class="offerCity">
		  	  <span><%= offers.owner.city %></span>
		  	</div>
	  	  </div>
	  	</div>
    <% end %>	  	  
  	<div class="offerBottom">
      <%= link_to "See All Offers", '#' %>
  	</div>    	
  </div> 
</div>
