<tr>
  <td><%= link_to offer.heading, offer %></td>
  <td><%= link_to offer.owner.name, owner_path(offer.owner.id) %></td>  
  <td><%= offer.visit_count.presence || 0 %></td>
  <td><%= if offer.active then 'Yes' else 'No' end %></td>
  <td><%= time_ago_in_words(offer.created_at) %> ago</td>
  <td><%= link_to offer.owner.user.name, user_path(offer.owner.user.id) %></td>
  <td class="tdMid"><%= link_to 'Show', bullet_points_path(offer.id) %></td>  
  <td class="tdMid"><%= link_to 'Show', offer_categories_path(offer.id) %></td>    
  <td class="tdMid"><%= link_to 'Show', images_path(offer.id) %></td>      
  <td class="tdMid"><%= link_to '', edit_offer_path(offer) , class: "icon-edit" %></td>
  <td class="tdMid"><% if current_user.admin? %>
  	  <%= link_to '', offer, method: :delete, confirm: "You sure?", class: "icon-remove" %>
  <% end %></td>
</tr>
