<%= provide(:title, 'New Offer') %>
<h1>New Offer</h1>
<div class="row">
  <div class="span6 offset3">
  	<p><%= link_to "All Offers", offers_path %></p>  	
    <%= form_for(@offer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= render 'fields', f: f %>

      <%= f.submit "Create new offer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>