<tr>
  <td><%= category.cat_name %></td>	
  <td><%= category.cat_description %></td>
  <td><%= category.locale_id %></td>  
  <td><%= link_to '', edit_category_path(category) , class: "icon-edit" %></td>
  <td><%= link_to '', category, confirm: 'Are you sure?', method: :delete, class: "icon-remove" %></td>
</tr>