<div class="row">
  <div class="span6 offset1">
    <%= form_for(@category) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
	  
		<%= f.label :cat_name %>
		<%= f.text_field :cat_name %>   
			
		<%= f.label :cat_description %>
		<%= f.text_field :cat_description %>      

	  </br></br>
			
      <%= f.submit btn_txt, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
